#skills {
  width: 100%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 2rem;
}

.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
}

/* medium screens */
@media screen and (max-width: 1024px) {
  
}

/* small screens */

@media screen and (max-width: 600px) {
  
}


