#about {
  width: 100%;
}

.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  margin-top: 4rem;
}

.about-images {
  position: relative;
}

.about-image1, .about-image2 {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: var(--transition);
}

.about-images:hover .about-image1 {  
  overflow: hidden;
  transform: rotate(6deg) translateX(10rem);
}

.about-images:hover .about-image2 {  
  overflow: hidden;
  transform: rotate(-6deg) translateX(-10rem);
}

.about-image1 > img, .about-image2 > img {
  padding: 1.3rem;
  border-radius: 2.4rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about-card {
  cursor: pointer;
}

.about-content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* medium screens */
@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 7fr;
    gap: 0;
  }

  .about-images {
    display: flex;
    justify-content: center;
  }

  .about-image1, .about-image2 {
    width: 50%;
  }

  .about-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  }

  

  .about-content p {
    margin: 1rem 4rem 1.5rem;
  }
}

/* small screens */

@media screen and (max-width: 600px) {
  #about {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-image {
    width: 80%;
    margin: 0 auto 3rem;
  }

  .about-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
  } 
}