.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.modal-container {
  width: 80%;
  height: 65%;
  margin-top: 6rem;
  background: rgba(0, 0, 0, .7);
  padding: 1.5rem 16rem;
  backdrop-filter: blur(15px);
  border-radius: 1.5rem;
    
}

.modal-content {
  height: 70%;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  overflow-y: scroll;
}


.modal-content img {
  width: 850px;
  height: 1100px;
}

/* large screens */

@media screen and (max-width: 1440px) {
  .modal-container {
    margin-top: 3rem;
    padding: 1.5rem 3rem;
  }
}